server:
  addr: ":8080"
  cors_allowed_origins:
    - "http://localhost:3000"
    - "http://127.0.0.1:3000"

storage:
  driver: "postgres"
  dsn: "postgres://user:password@localhost:5432/login?sslmode=disable"
  postgres:
    max_open_conns: 30
    max_idle_conns: 5
    conn_max_lifetime: "30m"
  mysql:
    dsn: "user:pass@tcp(localhost:3306)/login?parseTime=true&charset=utf8mb4"
  mongo:
    uri: "mongodb://user:pass@localhost:27017"
    database: "login"

cache:
  kind: "redis"
  redis:
    addr: "localhost:6379"
    db: 0
    prefix: "login:"
  memory:
    default_ttl: "2m"

jwt:
  issuer: "http://localhost:8080"
  access_ttl: "15m"
  refresh_ttl: "720h"   # 30d

auth:
  allow_bearer_session: true
  session:
    cookie_name: "sid"
    domain: ""
    samesite: "Lax"
    secure: false
    ttl: "12h"
  reset:
    ttl: "60m"
    auto_login: true
  verify:
    ttl: "48h"

register:
  auto_login: true

rate:
  enabled: true
  window: "1m"
  max_requests: 60

flags:
  migrate: true

smtp:
  host: "smtp.gmail.com"
  port: 587
  username: "juanpalacio1996@gmail.com"
  password: "gezl zchi oken ubkl"  # App Password
  from: "juanpalacio1996@gmail.com"
  tls: "starttls"
  insecure_skip_verify: false

email:
  base_url: "http://localhost:8080"
  templates_dir: "./templates"
  debug_echo_links: true

security:
  password_policy:
    min_length: 10
    require_upper: true
    require_lower: true
    require_digit: true
    require_symbol: false

# ───────── Social Login ─────────
providers:
  login_code_ttl: "60s"   # NUEVO: TTL del code efímero que devuelve /social/result
  google:
    enabled: false
    client_id: "1090604839946-j132hvbd6s0aijfsd57444i9u9dep2hn.apps.googleusercontent.com"
    client_secret: "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"
    redirect_url: "" # si vacío => <jwt.issuer>/v1/auth/social/google/callback
    scopes: ["openid","email","profile"]
    allowed_tenants: []   # vacío => todos
    allowed_clients: []   # vacío => todos
